<%= form_tag(cep_freight_index_path, method: :get) do %>
    <input class="form-control form-control-lg" type="text" placeholder="CEP" name='cep'>
    <button type="submit" class="btn btn-outline-primary btn-lg">Calcular</button>
<% end %>