<% if @power_generators.nil?%>
  <div class="container" >
    <div class="container">
      <div align="center">
        <h3><%= flash[:error] %></h3>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div align="center">
      <h3><%= flash[:notice] %></h3>
    </div>
  </div>
  <div class="container">
    <div align="center">
      <% render "search_form" %>
    </div>
  </div>
<% end %>